.blackBackground {
    background-color:darkcyan;
}

.logo {
    width: 90px;
    height: 90px;
}

.card {
    width: 600px;
    height: 320px;
}

.blueText {
    color: blue;
    font-size: 1.0rem;
}

.centerText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero {
    min-height: 100vh;
}


.button {
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}
