.pagination a.active,
.pagination a.active:hover {
    background-color: #007BFF;
    color: #fff;
    border-color: #007BFF;
}

.pagination li {
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin: 0.125rem;
    cursor: pointer;
}

.pagination li.active {
    background-color: #ccc;
    color: #fff;
}
